.cocktailView {
	display: grid;
	grid-template-columns: repeat(2, calc(50% - var(--gap) / 2));
	padding: var(--page-margin);
	gap: var(--gap);
	max-width: 75rem;
	width: 100%;
}

.info {
	padding-top: 10%;
}

@media (max-width: 768px) {
	.cocktailView {
		display: flex;
		flex-direction: column;
	}

	.info {
		padding-top: var(--page-margin);
	}
}
