.expandableText {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	overflow: hidden;
}

.expandableText:is(.expanded) {
	-webkit-line-clamp: none;
	line-clamp: none;
}

.button {
	font-weight: 700;
}

.button:hover {
	text-decoration: underline;
}
