.clickable,
.clickable:is(input) {
	border: 0.1rem solid var(--color-forest-green);
	border-radius: 1rem;
	padding: 0 2rem;
	text-transform: uppercase;
	text-align: center;
}

.clickable:hover,
.clickable:is(input):hover {
	font-weight: 600;
}
