:root {
	--color-white: #ffffff;
	--color-pine-green: #285430;
	--color-forest-green: #086337;
	--color-mint-green: #eef2e6;
	--color-shadow-grey: #535353;

	--font-special: 'Arima', system-ui;
	--font-standard: Arial, Helvetica, sans-serif;

	--gap: 1rem;
	--page-margin: 2rem;
}
