.iteminfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap);
}

.name {
	text-align: center;
}

.ingredient {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap);
}

.glass {
	text-transform: lowercase;
}
